
body,html{
   margin: 0;
   padding: 0;
   text-align: center;
  
}
header{
    background-color: rgba(247, 113, 64, 0.76);
    font-size: 45px;
    margin: 0;
    padding: 0;
    font-family: 'Zhi Mang Xing', 'cursive';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.icon{    
 width: 80px;
 height: 80px;
 margin: 60px 30px; 

}

.add-todo-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.description-style{
    width: 340px;
    height: 30px;
    border: 2px solid rgba(247, 113, 64, 0.76);
    border-radius: 10px;
    margin: 0 20px 0 40px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;

}
.addbutton{

    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid  rgba(247, 113, 64, 0.76);
    outline: none;
    border-radius: 10px;
 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deletebutton{
    width: 40px;
    height: 30px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
    border:none;
    outline: none;
    background: url(./img/del.png) no-repeat ;
    cursor: pointer;
}
.markbutton{
    width: 40px;
    height: 30px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
    border:none;
    background: url(./img/correct.png) no-repeat ;
    outline: none;
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mark{
    text-decoration: line-through;
    background-color:  rgba(247, 113, 64, 0.739);
}
.list-style{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    border: 2px solid rgba(247, 113, 64, 0.76);
    padding: 10px 5px 5px;
    margin: 5px;
    font-size: 20px;
}