body,html{
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: 'Shadows Into Light', cursive;

}
header{
    background-color: rgba(247, 113, 64, 0.76);
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
    padding: 40px 0;
    width: 100%;
    margin: 0 0 10px 0 ;    
}

.empty-img img {
    width: 150px;
    margin-top: 50px;

}
/* .icon{    
 width: 80px;
 height: 80px;
 margin: 60px 30px; 

} */

.description-style{
    width: 340px;
    height: 30px;
    border: 2px solid rgba(247, 113, 64, 0.76);
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    
}

.text{
    font-size: 20px;
}
.addbutton{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid  rgba(247, 113, 64, 0.76);
    outline: none;
    border-radius: 10px;
    font-family: 'Shadows Into Light', cursive;
    padding: 10px 20px;
    cursor: pointer;

}

.sort-button{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid  rgba(247, 113, 64, 0.76);
    outline: none;
    border-radius: 10px;
    font-family: 'Shadows Into Light', cursive;
    padding: 10px 20px;
    cursor: pointer;
}

.addbutton:hover, .sort-button:hover{
    background-color: rgba(247, 113, 64, 0.712);
    border: none
}

.deletebutton{
    width: 40px;
    height: 30px;
    background-color: white;
    color: transparent;
    font-weight: bold;
    margin: 3px;
    border:none;
    outline: none;
    background: url(./img/del.png) no-repeat ;
    cursor: pointer;
    
}
.markbutton{
    width: 40px;
    height: 30px;
    background-color: white;
    color: transparent;
    font-weight: bold;
    margin: 3px;
    border:none;
    background: url(./img/correct.png) no-repeat ;
    outline: none;
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.mark{
    text-decoration: line-through;
    background-color:  rgba(247, 113, 64, 0.739);
}
.list-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    border-left: 4px solid rgba(247, 113, 64, 0.76);
    padding: 10px 5px 5px 10px;
    margin: 10px 0;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.25s ease-out;
    font-weight: bold;
}

.list-style:hover,
.list-style:focus {
  transform: scale(1.05);
}
label{
    color: white;
}

@media only screen  and (max-width: 578px){
    header{
        font-size: 45px;
    }
       .list-style{
        width: 250px;
        
       }

       .add-todo-style{
          width: 100%;
     }
     .description-style{
         width: 200px;
     }

    
}